.card {
  position: relative;
  flex: 0 0 auto;
  --card-scale: 1;
  --card-width-base: 262px;
  --card-height-base: 392px;
  --card-image-inset-base: 14px;
  --awakening-bottom-base: 25px;
  --awakening-gap-base: 0.08rem;
  --gem-width-base: 40px;
  width: calc(var(--card-width-base) * var(--card-scale));
  height: calc(var(--card-height-base) * var(--card-scale));
}

.cardXs {
  --card-scale: 0.25;
}

.cardSm {
  --card-scale: 0.5;
}

.cardMd {
  --card-scale: 0.7;
}

.cardLg {
  --card-scale: 1;
}


.cardInner {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.cardImage,
.overlayImage {
  grid-area: 1 / 1;
  display: block;
}

.cardImage {
  width: calc(100% - (var(--card-image-inset-base) * var(--card-scale)));
  height: calc(100% - (var(--card-image-inset-base) * var(--card-scale)));
  object-fit: cover;
  z-index: 1;
}

.overlayImage {
  width: 100%;
  height: auto;
  z-index: 2;
}

.card::after {
  content: attr(aria-label);
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background: var(--background-tooltip);
  color: var(--text-tooltip);
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 10;
}

.card:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}
